<%= link_to "Back to Options", teacher_path(current_user.id) %>

<h4>Here are all the grades:</h4>

<table class="table">
  <thead>
    <tr>
      <th>
        Assignment Name
      </th>
      <th>
        Date
      </th>
      <th>
        Grade
      </th>
      <th>
        Student
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
    <tr>
      <td>
        <%= grade.assignment_name %>
      </td>
      <td>
        <%= grade.date %>
      </td>
      <td>
        <%= grade.grade %>
      </td>
      <td>
        <%= Student.find_by(id: grade.student_id).name %>
      </td>
      <td>
        <%= link_to "Edit Grade", edit_grade_path(grade.id), class: 'btn btn-default btn-success btn-xs' %>
      </td>
      <td>
        <%= link_to "Delete Grade", grade_path(grade.id), method: :delete, class: 'btn btn-default btn-danger btn-xs' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
